<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue APP</title>
</head>
<body>
    <!-- . -->
    <div id="app">
        <p v-if="characters.length === 0">There are no characters</p>
        <ul v-else>
            <li v-for="character in characters">{{character.name}}</li>
        </ul>
        <div>
            <p>Count: <span>{{count}}</span></p>
            <h3>{{incrementAmount}}</h3>
            <button v-on:click="incrementCount">Increment</button>
            <button v-on:click="decrementCount" >Decrement</button>
            <label for="IncrementAmount"></label>
            <input type="number" v-on:input="changeIncrementAmount" v-bind:value="incrementAmount">
        </div>
    </div>
    




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data(){
                return{ 
                    characters:[
                    { name:'Aang' },
                    { name: 'Zuko'},
                    { name: 'Toph'},
                    { name: 'Katara'},
                    { name: 'Soka'},
                    ],
                    count:0,
                    incrementAmount:1,
            }
        },
        methods:{
            incrementCount() {
                    this.count+=this.incrementAmount;
                },
            decrementCount() {
                if (this.count > 0) {
                    this.count--;
                }
            },
            changeIncrementAmount(){
                console.log(event.target.value);
                this.incrementAmount = Number(event.target.value);
            }
    }
        }).mount('#app')
            
    </script>
</body>
</html>